* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Sen", sans-serif;
}
.container {
  width: min(100% - 40px, 1280px);
  margin-inline: auto;
}
.page-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  padding-top: 5rem;
}
section {
  margin-bottom: 8rem;
}
/* -------------------------------------- */
/* ------------- typography ------------- */
/* -------------------------------------- */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-black);
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  display: block;
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}
h1,
.h1 {
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: -0.125rem;
}
h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -0.125rem;
}
h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.063rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 2rem;
}
h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}
p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--color-black);
}
.btn {
  display: inline-block;
  font-family: "Sen", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-yellow);
  padding: 0 3rem;
  border: none;
  height: 3.5rem;
  cursor: pointer;
  transition: background-color, 0.3s ease-in-out;
}
.btn--arrow::after {
  content: " >";
}
a.btn {
  line-height: 3.5rem;
}
.btn:hover {
  background-color: var(--color-dark-yellow);
}
.caption {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.188rem;
  text-transform: uppercase;
  color: var(--color-black);
}
.caption strong {
  font-weight: 600;
}
.post-author::before {
  content: "By ";
}
.post-author {
  color: var(--color-dark-grey);
  font-size: var(--px14);
  line-height: 1.25rem;
  font-weight: 500;
}
.post-author .name {
  color: var(--color-purple);
}
.post-author .name:hover {
  text-decoration: underline;
}
.post-author .data-create::before {
  content: "l ";
}

.text-cropp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-cropp.cropp--2 {
  -webkit-line-clamp: 2;
}
.text-cropp.cropp--3 {
  -webkit-line-clamp: 3;
}
.flex-col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* -------------------------------------- */
/* -------------   header   ------------- */
/* -------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  padding: 0.75rem 0;
  z-index: 99;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.navbar-logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
}
.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar-list {
  display: flex;
  gap: 0.75rem;
}
.navbar-list-item a {
  display: flex;
  color: #fff;
  font-size: 1rem;
  transition: color, 0.3s ease-out;
  position: relative;
  padding: 0.75rem;
}
.navbar-list-item a:hover {
  color: var(--color-dark-yellow);
}
.navbar-list-item a::before {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  position: absolute;
  bottom: calc(0.75rem - 2px);
  left: 0.75rem;
  transition: all 0.3s ease-out;
  background-color: #fff;
}
.navbar-list-item a:hover::before {
  background-color: var(--color-dark-yellow);
  width: calc(100% - 0.75rem * 2);
}
.header-btn {
  background-color: #fff;
}

/* -------------------------------------- */
/* -------------   header   ------------- */
/* -------------------------------------- */
.footer {
  background-color: var(--color-black);
  padding: 3.5rem 0;
}
.form-subcribe {
  display: flex;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 4rem 5rem;
  margin: 3.5rem 0 3rem;
}
.form-subcribe-label {
  min-width: 0;
  color: #fff;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  flex: 0 1 auto;
  letter-spacing: -0.125rem;
}
.form-subcribe-input {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid var(--color-dark-grey);
  width: 20rem;
  height: 3.5rem;
  padding: 0 1.5rem;
  font-size: 1rem;
  color: var(--color-black);
  outline: none;
  color: #fff;
  flex: 0 0 auto;
}
.form-subcribe-input:focus {
  border: 1px solid #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright p {
  color: rgba(255, 255, 255, 0.06);
}
.social-nav ul {
  display: flex;
  gap: 1.75rem;
}
.social-nav ul li a {
  display: block;
  color: var(--color-medium-grey);
  font-size: 1rem;
  transition: all, 0.3s ease-out;
  transform: scale(1);
}
.footer .social-nav ul li a:hover {
  color: #fff;
  transform: scale(1.6);
}

/* -------------------------------------- */
/* ----------   main-banner   ----------- */
/* -------------------------------------- */

.main-banner {
  position: relative;
  overflow: hidden;
}
.main-banner::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: radial-gradient(
    30.56% 76.04% at 74.58% 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.main-banner-wrapp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-banner-wrapp-img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.main-banner-content {
  padding: 10% 40% 15% 0;
}
.main-banner-content > div {
  position: relative;
  z-index: 3;
}
.main-banner-content .caption {
  color: #fff;
}
.main-banner-content .caption strong {
  font-weight: 900;
}
.main-banner-content h1 {
  color: #fff;
  margin: 1.5rem 0;
}

.main-banner-content .post-author {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #fff;
}
.main-banner-content .post-author .name {
  color: var(--color-yellow);
}
.main-banner-description {
  color: #fff;
  width: 78%;
  margin: 1rem 0 3rem;
  max-height: 3.5rem;
}

/* -------------------------------------- */
/* ---------   posts-preview   ---------- */
/* -------------------------------------- */

.posts-preview .title-row {
  margin-bottom: 2rem;
}
.link-view-all {
  margin-bottom: var(--color-purple);
  font-size: 1rem;
  line-height: 1.5rem;
}
.link-view-all:hover {
  text-decoration: underline;
}
.posts-preview-grid {
  display: grid;
  grid-template-columns: 57% 1fr;
  grid-column-gap: 2rem;
}

.grid-featured {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* -------------------------------------- */
/* -----------   posts-lg   ------------- */
/* -------------------------------------- */

.post-lg {
  display: grid;
  grid-template-rows: minmax(12rem, 1fr) auto;
  padding: 2rem;
  border: 1px solid rgba(109, 110, 118, 0.1);
}
.post-lg-img {
  display: block;
  position: relative;
  background-color: rgba(109, 110, 118, 0.1);
  overflow: hidden;
}
.post-lg-img img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  min-height: 100%;
  transform: translate(0, -50%);
}
.post-lg-img::before {
  content: "\f03e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--color-medium-grey);
  font-size: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.post-lg .post-author {
  margin: 2rem 0 1rem;
}
.post-lg .post-title {
  line-height: 2.5rem;
  max-height: calc(2.5rem * 2);
}
.post-lg .post-description {
  margin: 1rem 0 2rem;
  max-height: 3.5rem;
}
/* -------------------------------------- */
/* -----------   posts-sm   ------------- */
/* -------------------------------------- */
.post-item-sm {
  padding: 2rem 2rem 1.5rem 2rem;
  background-color: #fff;
  transition: background-color, 0.3s ease-out;
}
.post-item-sm:hover {
  background-color: var(--color-light-yellow);
}
.post-item-sm .post-author {
  margin-bottom: 0.5rem;
}
.post-item-sm h4 a {
  padding-right: 5rem;
}

/* -------------------------------------- */
/* --------   yel-purpl-border   -------- */
/* -------------------------------------- */
.yell-purpl-border {
  display: flex;
}
.yell-purpl-border hr {
  height: 1.5rem;
  border: none;
  margin: 0;
}
.yell-purpl-border .yellow-bg {
  background-color: var(--color-yellow);
}
.yell-purpl-border .purple-bg {
  background-color: var(--color-purple);
}
/* -------------------------------------- */
/* ---------   about-mission   ---------- */
/* -------------------------------------- */
.about-mission .yellow-bg {
  width: 66%;
  margin-left: auto;
}
.about-mission .purple-bg {
  width: 22%;
}
.about-mission-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5.125rem;
  background-color: var(--color-lavender);
  padding: 6rem 5rem;
}
.about-mission-grid .caption {
  margin-bottom: 1.5rem;
}
.about-mission-grid h2,
.about-mission-grid h3 {
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.about-mission-read-more {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--color-purple);
  transition: all, 0.3s ease-out;
}
.about-mission-read-more:hover {
  color: var(--color-dark-yellow);
  font-weight: 500;
}

/* -------------------------------------- */
/* --------   choose-category   --------- */
/* -------------------------------------- */
.section-title-center {
  text-align: center;
  margin-bottom: 3rem;
}
.choose-category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
}

.choose-category-item {
  padding: 2rem;
  background-color: #fff;
  border: 1px solid var(--color-medium-grey);
  transition: all, 0.3s ease-out;
}
.choose-category-item:hover {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
.choose-category-item {
  border: 1px solid var(--color-medium-grey);
  padding: 2rem;
}
.choose-category-item h3 {
  margin-bottom: 0.25rem;
}

.choose-category-item-icon {
  display: block;
  background-color: var(--color-light-yellow);
  margin-bottom: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------- */
/* --------   choose-category   --------- */
/* -------------------------------------- */

.left-img-banner > div {
  display: flex;
  position: relative;
}
.left-img-banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  overflow: hidden;
  z-index: -1;
}
.left-img-banner-bg img {
  min-width: 100%;
  height: 100%;
}
.left-img-banner-info {
  background: #fff;
  padding: 6.25%;
  margin-top: 9.4%;
  width: 55%;
  margin-left: auto;
}
.left-img-banner-info .h1 {
  margin: 1.5rem 0 1rem;
}
.left-img-banner-info .btn {
  margin-top: 2rem;
}

/* -------------------------------------- */
/* ----------   list-authors   ---------- */
/* -------------------------------------- */
.list-authors-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
}
.list-authors-item {
  padding: 2.5rem;
  background-color: var(--color-light-grey);
  transition: background-color, 0.3s ease-out;
  text-align: center;
}
.list-authors-item:hover {
  background-color: var(--color-light-yellow);
}
.list-authors-logo {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto 1.25rem;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
}
.list-authors-logo:hover {
  border: 1px solid var(--color-yellow);
}
.list-authors-logo:empty::before {
  content: "\f030";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-black);
  font-size: 3rem;
}
.list-authors-logo img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  min-height: 100%;
}
.list-authors-name {
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.063rem;
  font-weight: 700;
  color: var(--color-black);
}
.list-authors-name:hover {
  text-decoration: underline;
}
.list-authors-company {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-medium-grey);
  margin-bottom: 1.25rem;
}
.list-authors-company::before {
  content: "Content Writer ";
}
.list-authors-company a {
  color: inherit;
}
.list-authors-company a:hover {
  color: var(--color-purple);
  text-decoration: underline;
}
.list-authors-item .social-nav ul {
  justify-content: center;
  gap: 1rem;
}
.list-authors-item .social-nav ul li a {
  color: var(--color-black);
}
.list-authors-item .social-nav ul li a:hover {
  color: var(--color-yellow);
}

/* -------------------------------------- */
/* ----------  join-our-team   ---------- */
/* -------------------------------------- */
.join-our-team {
  width: min(100%, 414px);
  margin-inline: auto;
  text-align: center;
}
.join-our-team p {
  color: var(--color-medium-grey);
  margin: 1rem 0 2rem;
}
