* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Sen", sans-serif;
}
.container {
  width: min(100% - 40px, 1280px);
  margin-inline: auto;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5rem;
}
section {
  margin-bottom: var(--px128);
}
/* -------------------------------------- */
/* ------------- typography ------------- */
/* -------------------------------------- */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-black);
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  display: block;
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}
h1 {
  font-size: var(--px48);
  line-height: var(--px64);
  letter-spacing: -0.125rem;
}
h2 {
  font-size: var(--px36);
  line-height: var(--px48);
  letter-spacing: -0.125rem;
}
h3 {
  font-size: var(--px28);
  line-height: var(--px36);
  letter-spacing: -0.063rem;
}
h4 {
  font-size: var(--px24);
  line-height: var(--px32);
}
h5 {
  font-size: var(--px20);
  line-height: var(--px32);
}
h5 {
  font-size: var(--px16);
  line-height: var(--px24);
}
p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--px16);
  line-height: var(--px28);
  color: var(--color-black);
}
.btn {
  display: inline-block;
  font-family: "Sen", sans-serif;
  font-size: var(--px18);
  line-height: var(--px24);
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-yellow);
  padding: 0 var(--px48);
  border: none;
  height: var(--px56);
  cursor: pointer;
  transition: background-color, 0.3s ease-in-out;
}
a.btn {
  line-height: var(--px56);
}
.btn:hover {
  background-color: var(--color-dark-yellow);
}
.caption {
  font-size: var(--px16);
  font-weight: 500;
  line-height: var(--px20);
  letter-spacing: 0.188rem;
  text-transform: uppercase;
  color: var(--color-black);
}
.caption strong {
  font-weight: 600;
}
.post-author::before {
  content: "By ";
}
.post-author {
  color: var(--color-dark-grey);
  font-size: var(--px14);
  line-height: var(--px20);
  font-weight: 500;
}
.post-author .name {
  color: var(--color-purple);
}
.post-author .name:hover {
  text-decoration: underline;
}
.post-author time::before {
  content: "l ";
}

.text-cropp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-cropp.cropp--2 {
  -webkit-line-clamp: 2;
}
.text-cropp.cropp--3 {
  -webkit-line-clamp: 3;
}
.flex-col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* -------------------------------------- */
/* -------------   header   ------------- */
/* -------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  padding: var(--px12) 0;
  z-index: 99;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  gap: var(--px32);
}
.navbar-logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: var(--px28);
  font-weight: bold;
}
.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar-list {
  display: flex;
  gap: var(--px12);
}
.navbar-list-item a {
  display: flex;
  color: #fff;
  font-size: var(--px16);
  transition: color, 0.3s ease-out;
  position: relative;
  padding: var(--px12);
}
.navbar-list-item a:hover {
  color: var(--color-dark-yellow);
}
.navbar-list-item a::before {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  position: absolute;
  bottom: calc(var(--px12) - 2px);
  left: var(--px12);
  transition: all 0.3s ease-out;
  background-color: #fff;
}
.navbar-list-item a:hover::before {
  background-color: var(--color-dark-yellow);
  width: calc(100% - var(--px12) * 2);
}
.header-btn {
  background-color: #fff;
}

/* -------------------------------------- */
/* -------------   header   ------------- */
/* -------------------------------------- */
.footer {
  margin-top: auto;
  background-color: var(--color-black);
  padding: var(--px56) 0;
}
.form-subcribe {
  display: flex;
  gap: var(--px24);
  background-color: rgba(255, 255, 255, 0.05);
  padding: var(--px64) var(--px80);
  margin: var(--px56) 0 var(--px48);
}
.form-subcribe-label {
  min-width: 0;
  color: #fff;
  font-weight: 700;
  font-size: var(--px36);
  line-height: var(--px48);
  flex: 0 1 auto;
  letter-spacing: -0.125rem;
}
.form-subcribe-input {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid var(--color-dark-grey);
  width: 20rem;
  height: var(--px56);
  padding: 0 var(--px24);
  font-size: var(--px16);
  color: var(--color-black);
  outline: none;
  color: #fff;
  flex: 0 0 auto;
}
.form-subcribe-input:focus {
  border: 1px solid #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright p {
  color: rgba(255, 255, 255, 0.06);
}
.social-nav ul {
  display: flex;
  gap: var(--px28);
}
.social-nav ul li a {
  display: block;
  color: var(--color-medium-grey);
  font-size: var(--px16);
  transition: all, 0.3s ease-out;
  transform: scale(1);
}
.social-nav ul li a:hover {
  color: #fff;
  transform: scale(1.6);
}

/* -------------------------------------- */
/* ----------   main-banner   ----------- */
/* -------------------------------------- */

.main-banner {
  position: relative;
  overflow: hidden;
}
.main-banner::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: radial-gradient(
    30.56% 76.04% at 74.58% 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.main-banner-wrapp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-banner-wrapp-img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.main-banner-content {
  width: 60%;
  padding-top: var(--px128);
  padding-bottom: var(--px192);
  min-height: 720px;
  position: relative;
  z-index: 3;
}
.main-banner-content .caption {
  color: #fff;
}
.main-banner-content .caption strong {
  font-weight: 900;
}
.main-banner-content h1 {
  color: #fff;
  margin: var(--px24) 0;
}

.main-banner-content .post-author {
  font-size: var(--px16);
  line-height: var(--px28);
  color: #fff;
}
.main-banner-content .post-author .name {
  color: var(--color-yellow);
}
.main-banner-description {
  color: #fff;
  width: 78%;
  margin: var(--px16) 0 var(--px48);
  max-height: var(--px56);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* -------------------------------------- */
/* ---------   posts-preview   ---------- */
/* -------------------------------------- */

.posts-preview .title-row {
  margin-bottom: var(--px32);
}
.link-view-all {
  margin-bottom: var(--color-purple);
  font-size: var(--px16);
  line-height: var(--px24);
}
.link-view-all:hover {
  text-decoration: underline;
}
.posts-preview-grid {
  display: grid;
  grid-template-columns: 57% 1fr;
  grid-column-gap: var(--px32);
}

.grid-featured {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* -------------------------------------- */
/* -----------   posts-lg   ------------- */
/* -------------------------------------- */

.post-lg {
  display: grid;
  grid-template-rows: minmax(var(--px192), 1fr) auto;
  padding: var(--px32);
  border: 1px solid rgba(109, 110, 118, 0.1);
}
.post-lg-img {
  display: block;
  position: relative;
  background-color: rgba(109, 110, 118, 0.1);
  overflow: hidden;
}
.post-lg-img img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  min-height: 100%;
  transform: translate(0, -50%);
}
.post-lg-img::before {
  content: "\f03e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--color-medium-grey);
  font-size: var(--px128);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.post-lg .post-author {
  margin: var(--px32) 0 var(--px16);
}
.post-lg .post-title {
  line-height: var(--px40);
  max-height: calc(var(--px40) * 2);
}
.post-lg .post-description {
  margin: var(--px16) 0 var(--px32);
  max-height: var(--px56);
}
/* -------------------------------------- */
/* -----------   posts-sm   ------------- */
/* -------------------------------------- */
.post-item-sm {
  padding: var(--px32) var(--px32) var(--px24) var(--px32);
  background-color: #fff;
  transition: background-color, 0.3s ease-out;
}
.post-item-sm:hover {
  background-color: var(--color-light-yellow);
}
.post-item-sm .post-author {
  margin-bottom: var(--px8);
}
.post-item-sm h4 a {
  padding-right: var(--px80);
}

/* -------------------------------------- */
/* --------   yel-purpl-border   -------- */
/* -------------------------------------- */
.yell-purpl-border {
  display: flex;
}
.yell-purpl-border hr {
  height: var(--px24);
  border: none;
  margin: 0;
}
.yell-purpl-border .yellow-bg {
  background-color: var(--color-yellow);
}
.yell-purpl-border .purple-bg {
  background-color: var(--color-purple);
}
/* -------------------------------------- */
/* ---------   about-mission   ---------- */
/* -------------------------------------- */
.about-mission {
}
.about-mission .yellow-bg {
  width: 66%;
  margin-left: auto;
}
.about-mission .purple-bg {
  width: 22%;
}
.about-mission-grid {
  background-color: var(--color-lavender);
  padding: var(--px96) var(--px80);
}
