:root {
  --px12: 0.75rem;
  --px16: 1rem;
  --px18: 1.125rem;
  --px20: 1.25rem;
  --px24: 1.5rem;
  --px28: 1.75rem;
  --px32: 2rem;
  --px36: 2.25rem;
  --px48: 3rem;
  --px56: 3.5rem;
  --px64: 4rem;
  --px80: 5rem;
  --px128: 8rem;
  --px192: 12rem;

  --color-black: #232536;
  --color-yellow: #ffd050;
  --color-purple: #592ea9;
  --color-dark-grey: #4c4c4c;
  --color-medium-grey: #6d6e76;
  --color-light-grey: #f4f4f4;
  --color-lavender: #f4f0f8;
  --color-light-yellow: #fbf6ea;
  --color-dark-yellow: #edc14a;
}
